<h1>Partial List</h1>
<button class="button"><%= link_to "Call", controller: "friends", action: "edit" %></button>

<% @friends.each do |friend| %>
<div class="box"><%= friend.name %></div> 
<% end %>


