.box{
  border-style: solid;
  border-radius: 2px;
  border-color: maroon;
  padding: 5px;
  margin: 20px
}
h1{
  text-align: center;
}
body{
  background-color: blanchedalmond;
}
div{
  background-color: white;
}